<link rel="stylesheet" href="/stylesheets/about.css">


<section class="about-section" id="about">
    <div class="container d-flex">
        <div class="row py-5">
            <div class="col-lg-6 col-md-12">
                <div class="overlay">
                    <img src="/images/team.jpg" alt="" srcset="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="text-area m-auto">
                    <h1 class="header mx-auto my-4">What is Pexlet?</h1>
                    <p class="body-text">At Pexlet, we specialize in advanced technology solutions that can help improve the sales and operations of your restaurant. Our software is expertly designed to streamline processes, enhance customer engagement, and increase revenue. With our innovative expertise, we are dedicated to elevating your restaurant's success.</p>
                    <a href="#services" class="btn">What we offer?</a>
                </div>
            </div>
        </div>
    </div>
</section>
