<link rel="stylesheet" href="/stylesheets/banner.css">

<section class="banner" id="home">
    <div class="container d-flex flex-column">
        <div class="text-area m-auto">
            <h1>sky rocket your restaurant business using tech</h1>
            <p>Say good bye to outdated manual processes, and hello to the future of restaurant management</p>
            <a href="#about" class="btn">Learn More</a>
        </div>
    </div>
</section>