<link rel="stylesheet" href="/stylesheets/mission.css">

<section class="mission-section">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-6 my-3">
                <div class="video-wrapper d-flex" style="position: relative;">
                    <div class="video-overlay"></div>
                    <video autoplay loop muted playsinline>
                      <source src="/video/video1.mp4" type="video/mp4">
                      <!-- Add other video formats as needed -->
                    </video>
                    <div class="play-button"></div>
                  </div>
            </div>
            <div class="col-lg-6 d-flex my-3">
                <div class="mission-statement m-auto">
                    <h1 class="header mx-auto" style="width: fit-content;">Our Mission</h1>
                    <p class="body-text mt-3 m-auto">Pexlet's mission is to empower restaurant owners with user-friendly technology solutions that streamline operations and drive sales growth. We aim to make restaurant management simple, even for non-techy individuals, by providing innovative tools and expert guidance to help businesses thrive in the digital landscape..</p>
                  </div>
            </div>
        </div>
    </div>
</section>