<link rel="stylesheet" href="/stylesheets/services.css">

<section class="services-section" id="services">
    <div class="container d-flex flex-column">
        <h1 class="header mx-auto mb-3">Services</h1>
        <p class="sub-header mx-auto">Step into the future of restaurant management with Pexlet's cutting-edge software solutions.</p>
        <div class="row mx-auto">
            <div class="col-lg-4 my-3">
                <div class="card mx-auto">
                    <img src="/images/service1.jpg" alt="Image" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Our POS system streamlines restaurant operations, enhances business performance, and increases customer satisfaction.</p>
                    </div>
                </div>
                <h5 class="card-title my-3">POS System</h5>
            </div>

            <div class="col-lg-4  my-3">
                <div class="card mx-auto">
                    <img src="/images/service2.jpg" alt="Image" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Pexlet streamlines restaurant operations and enhances dining experiences through a comprehensive management system, empowering owners to manage efficiently and delight customers.</p>
                    </div>
                </div>
                <h5 class="card-title my-3">Restaurant Management System</h5>
            </div>
            <div class="col-lg-4  my-3">
                <div class="card mx-auto">
                    <img src="/images/service3.jpg" alt="Image" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Our website design service for restaurant owners offers custom, visually stunning websites that showcase the unique ambiance and cuisine of their establishment.</p>
                    </div>
                </div>
                <h5 class="card-title my-3">Website Design</h5>
                  
            </div>
        </div>
        <a href="https://forms.gle/pBf4thKrn7mWvU9B9" target="_blank" class="btn mx-auto" style="width: fit-content;">Get Started</a>
    </div>
</section>